@media only screen and (max-width: 1023px) {
  .header {
    width: 100%;
    margin: 0 auto;
    padding: 24px 24px 0;
  }

  .simple,
  .multiple,
  .almost-done,
  .ai-block-wrapper,
  .testimonials,
  .phone-block,
  .data-picker,

  .multiple + div.continueButton-wrapper  {
    width: 400px;
    margin: 0 auto;
  }

  .header + div {
    position: absolute;
    left: calc(100% - 200px);
    margin-left: -50%;
  }

  .testimonials {
    border-radius: 16px;
  }
}